body {
  background-color: beige;
}
h1 {
  color: aqua;
  transition: color 2s ease-in-out;
}
.clicked {
  color: orange;
}
.sexy-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
